<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}</title>
    <meta name="description" content="{{ page.description }}">
    <meta name="keywords" content="{{ page.tags | join: ', ' }}">
    <meta name="google-site-verification" content="lLPww28LrrICb6Q_zYHUiiL9xKQQKPBk664079lfGXw" />


    <meta property="og:locale" content="en_US">
    <meta property="og:title" content="{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}">
    <meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 120  }}{% else %}{{ page.content | strip_html | strip_newlines | truncate: 120 }}{% endif %}">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:site_name" content="{{ site.title }}">


    <link href="/feed.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

    <!-- http://t.co/dKP3o1e -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Type -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Crimson+Text:400,400italic,700,700italic|Source+Sans+Pro:400,700" rel='stylesheet' type='text/css' />

    <!-- In order to use Calendas Plus, you must first purchase it. Then, create a font-face package using FontSquirrel.
    <link rel='stylesheet' href='{{ site.url }}/assets/cal.css' media='all' />
    -->



    <!-- For all browsers -->
    <link rel="stylesheet" href="/assets/css/i.css">
    <link rel="stylesheet" href="/assets/css/solarized-dark.css">

    <meta http-equiv="cleartype" content="on">

    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

    <!-- Icons -->
    <!-- 16x16 -->
    <link rel="shortcut icon" href="/favicon.png">
  </head>

  <body>
    <div id="bump">
      <body class="">
        <header class="site-header darken">
          <div class="wrap">
            <hgroup>
              <h1><a href="/">{{ site.title }}</a></h1>
            </hgroup>
            <a href="#nav" class="menu"><span class='icons'>☰</span></a>
            <nav role="navigation">
              <ul>
                <li>
                  <a href="/" title="{{ site.title }}">Home</a>
                </li>

                {% for link in site.links %}
                    <li><a href="{{ link.url }}" {% if link.external %}target="_blank"{% endif %}>{{ link.title }}</a></li>
                {% endfor %}

              </ul>
            </nav>
          </div>
        </header>
