/* Place custom css here. */
details {
	border: 1px solid #ccc;
	border-radius: 0.5rem;
	padding: 0.5rem 1rem ;
}

.prose figcaption {
	margin-top: 0.2rem;
	text-align: center;
	font-weight: normal;
	font-style: italic;
}
.prose figure {
	margin-bottom: 0;
}
.prose figure h4 {
	margin: 0px;
}

.prose :where(code):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
	border: 1px solid #888;
	border-radius: 5px;
	padding: 0 3px;
}
.prose :where(code):not(:where([class~="not-prose"],[class~="not-prose"] *))::before {
  content: "";
}

.prose :where(code):not(:where([class~="not-prose"],[class~="not-prose"] *))::after {
  content: "";
}

pre > code {
	border: none !important;
}
